@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;

}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #64766a;
}



/* headings */

h1 {
    color: #64766a;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
}

/* emergency top text */

#emer-bg {
    height: 30px;
    font-size: 20px;
    margin: 5px 20px 0 20px;
}

#emer-top-text-left {
    font-size: 20px;
    color: #64766a;

}

#emergency-top-text-right {
    font-size: 20px;
    float: right;
    color: red;
}



/* headings and logo */

#logo-box {
    height: 200px;
    width: 100%;
    background-color: #64766a;
    margin-top: 30px;
}

#logo-text {
    text-align: center;
    font-size: 480%;
    color: #f4f2f3;
    padding-top: 40px;
    text-transform: uppercase;

}

#logo-text:hover {
    color: #c0a9bd;
}

#logo-box a {
    text-decoration: none;
}


/* navigation links */

#nav {
    height: 65px;
    text-align: center;
}

#menu {
    background-color: rgb(192, 169, 189, .5);
}

#menu li {
    font-size: 110%;
    letter-spacing: 2px;
    display: inline-block;
    list-style-type: none;
    margin-right: 50px;
    padding: 15px 0 25px 0;
    margin-top: 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    text-transform: uppercase;
}

#menu a:hover {
    background-color: #c0a9bd;
}

.active {
    background-color: #c0a9bd;

}


/* addiction image */

#addiction-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

}

#addiction-img {
    height: 500px;
    width: 100%;
    opacity: .8;
    background-image: url('../images/pills.jpg');

    /* background-repeat: no-repeat; */

    /* animates zoom effect on loading page */
    animation-name: addiction-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}


/* creates the level of zoom for the addiction image */
@keyframes addiction-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}


#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 200px;

    padding: 25px 30px 10px 30px;

    background-color: rgb(198, 51, 83);
    border-radius: 1rem;


    top: 500px;
    left: 150px;
    position: absolute;

}


#cover-h2 {
    color: #f4f2f3;
    font-size: 25px;
}

#cover-p {
    text-transform: none;
    color: #f4f2f3;
    padding-top: 15px;
}



/* main content left */

#main-content {
    width: 100%;
    height: 500px;

}

.main-left {
    float: left;
    margin-top: 20px;
}

.main-top-heading {
    text-align: center;
    background-color: rgb(192, 169, 189, .5);
    width: 1150px;
    height: 70px;
    margin: 0px auto;
    margin-top: 2rem;
    padding-top: 20px;
    border-radius: 1rem;
    text-transform: uppercase;
}

#main-right {

    width: 40%;
    height: 400px;
    float: right;
    margin-right: 300px;
    margin-top: 30px;
}

#img-circle-container {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #64766a;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin-left: 200px;
    margin-top: 20px;

}

.img-circle {
    height: 300px;
    width: 100%;
    background-image: url('../images/woman-depressed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

}


#circle-img-text-container {

    width: 40%;
    height: 300px;
    float: right;
    margin-right: 300px;

}

#addiction {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;

}

#addiction-text {
    padding-left: 40px;
    padding-right: 40px;
 
}

/* second main content images */


#three-image-container {
    width: 100%;
    height: 500px;
    margin-left: 175px;


}

.sq-heading {
    margin: 30px;
    text-align: center;
    background-color:#64766a;
    width: 1150px;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 1rem;
    color: #f4f2f3;
}


.img-sq-container {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #64766a;
    border-width: 1px;
    border-radius: 10%;
    float: left;
    margin-top: 30px;
    margin-right: 100px;
}


#img-sq-1 {
    height: 300px;
    width: 100%;
    background-image: url('../images/chained-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;


}



#img-sq-2 {
    height: 300px;
    width: 100%;
    background-image: url('../images/chained.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;


}


#img-sq-3 {
    height: 300px;
    width: 100%;
    background-image: url('../images/chained-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;

}


/* text below images */

.img-sq-container h3 {
    margin-top: 40px;
    margin-left: 50px;
}

.img-sq-container p {
    margin-left: 30px;
    margin-top: 30px;
}



/* footer code taken from Love Running Project */

footer {
    height: 250px;
    clear: both;
    background-color: #64766a;
    margin-top: 40px;
}


footer p {
    text-align: center;
    color: #c0a9bd;
    font-size: 20px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 260%;
    margin: 1%;
    padding: 50px;
    color: #c0a9bd;
 
}



